/* CSS Document */
BODY {
    FONT-FAMILY:SimSun, Arial, Helvetica, sans-serif;padding:0px;margin:0px;FONT-SIZE: 12px; BACKGROUND: #fff; COLOR: #000;
}
div,form,img,ul,ol,li,dl,dt,dd,p{
    padding:0px;MARGIN: 0px;border:0px;
}
H1,H2,H3,H4,H5,H6 {
    MARGIN: 0px; PADDING: 0px; }
table,tr,td,th{
    FONT-SIZE: 12px;
}
ul,ol,li{list-style:none;}
input,textarea{font-size:12px;margin:2px 0;}

A{
    COLOR: #000; TEXT-DECORATION: none
}
A:hover {
    COLOR: #BB7521; TEXT-DECORATION: none
}
.TableTree td{padding:0px;border:0px;}
.TableTree{border:0px;}
.link{color:#738AC8;line-height:18px;text-decoration:none}
.link a{color:#738AC8;line-height:18px;text-decoration:none}
.link a:hover{color:#BB7521;}

.error_style{color:#BB7521;font-weight:bold;cursor:pointer}

.loginbj{background:url(../images/login_bj.jpg) repeat-x left top;}
.input_login{border:1px #969696 solid;height:20px;width:245px;}
.input_login2{border:1px #969696 solid;height:20px;width:195px;}

.nodeon{color:#BB7521;}