@charset "utf-8";
/* CSS Document */
.content{width:1002px; height:auto; border-top:3px solid #48c0e2; padding-top:4px; background:#FFF; float:left}
/*/////////////////左边样式开始//////////////////////////*/
.left-tit{background:url(../images/tit.jpg) repeat-x; width:172px; height:30px; color:#FFF; font-size:14px; font-weight:bold; line-height:30px; padding-left:20px;}
.neiye-left{ float:left;width:192px; margin-left:3px; _margin-left:3px;}
.left-con{background:url(../images/neiye-left-bg.jpg) repeat-x; width:187px; padding-left:5px;}
.left-con li{padding:8px; }
/*/////////////////左边样式结束//////////////////////////*/
/*/////////////////右边样式开始//////////////////////////*/
.neiye-right{width:796px; float:left; margin-left:5px; _margin-left:5px;}
.weizhi{border-bottom:1px solid #dedede; height:30px; line-height:30px; width:796px; text-align:right; margin-bottom:5px;}
.weizhi a{color:#616065}
.right-con{background:url(../images/neiye-right-bg.jpg) repeat-x; width:796px;}
.right-con li{line-height:23px; padding:0 8px; height:23px;}
.right-con li img{padding-right:5px; line-height:23px;}
.right-con ul p{float:right; height:50px; line-height:50px; color:#616065}
/*.right-con ul p span{color:#F00}*/
.right-con ul p a{color:#616065}
.conline p,.right-con p{text-indent:2em; line-height:25px; padding:10px;}
.conline h3,.right-con h3{color:#666; font-weight:normal;text-indent:2em; line-height:25px; padding:0 10px;}
.conline{border-bottom:1px solid #EEE;width:796px;}
/*/////////////////右边样式结束//////////////////////////*/
/*/////////////////表单样式开始//////////////////////////*/
/*.right-con td span{color:#F00}*/
.bg1{background:#ecedf2; height:27px; line-height:27px}
.bg2{background:#f4f5f9}
.text60{width:60px;}
.text190{width:60px;}
.text90{width:90px; margin:0px}
.text50{width:50px; margin:0px}
.padding3{padding-left:5px;}
.margin0{margin:0px}
.padding5{padding:5px;}
.button_reset,.button_submit{background:none; background:url(../images/button_submit.gif); width:52px; height:18px;}
.button_reset{background:url(../images/button_reset.gif); margin-left:10px;_margin-left:10px;}