@charset "utf-8";
/* CSS Document */
.right_neiye{
	float:left;
	width:962px;
	border:1px solid #d8d6d6;
	background-color:#fefefe;
}
.con_neiye{
	float:left;
	width:920px;
	height:25px;
}
.con_neiye li img{
	padding-right:5px;
	padding-top:1px;
}
