@charset "utf-8";
/* CSS Document */
.right_neiye{
	float:left;
	width:962px;
	border:1px solid #d8d6d6;
	background-color:#fefefe;
    margin-bottom:10px;
}
.con_neiye{
	float:left;
	width:920px;
	height:25px;
}
.con_neiye li img{
	padding-right:5px;
	padding-top:1px;
}
.neiye_right_con{
	float:left;
	width:440px;
	height:auto;
	padding-right:10px;
	padding-left:20px;
	padding-top:5px;
}
.neiye_right_con li{
	float:left;
}
.neirong_con{
	float:left;
	width:925px;
	height:auto;
	text-indent:2em;
	line-height:20px;
}
.neirong_con a:link{
    text-decoration: underline;
}
/*//以下是内容页专用的的样式*/
