@charset "utf-8";
/* CSS Document  共同样式 */
body,ul{margin:0;padding:0}
body{ font-family:Arial,"宋体"; background-color:#fff; font-size:12px; min-height:1000px; height:100%; _height:1000px;}
ul li{ list-style:none}
a{ outline:0; text-decoration:none; color:#315aaa}
a:active{ star:expression(this.onFocus=this.blur());}
a:hover{ text-decoration:underline}
button { border: 0 none; cursor: pointer; vertical-align: middle;}
form{ margin:0; padding:0;}


/* 某些页面的二级导航 */
#hd2011mainNav2 {
	clear:both;
	background:url(spri.gif) 0 -448px;
	height:30px; line-height:30px;
}
#hd2011mainNav2-Box {
	width:990px;
	margin:0 auto;
	overflow:hidden;
}
#hd2011mainNav2-Box li {
	float:left;
	margin: 2px 5px 0;
	height:27px; line-height:27px;
	_line-height:25px;
	padding:0 3px;
	border:1px solid transparent;
	_border-color:tomato; /*For IE6-*/ 
	_filter:chroma(color=tomato);/*For IE6-*/
	display:inline;
}
#hd2011mainNav2-Box li.hd2011current {
	background-color:#fff;
	border:1px solid #bcbcbc;
	border-bottom:0;
	border-radius: 2px 2px 0 0;
}
.hd201_listBody{ float:right;}
.hd201_listBody a{ line-height:30px; padding-left:15px;}

#guild{ width:990px; height:42px; margin:auto;}
#guild strong{ color:#315aaa; font-weight:bold}
#guild div{ float:left;line-height:42px;}
#guild span{ padding:0 20px; margin-top:13px; float:right;}
.emailAll{ width:990px; margin:auto;}


/***导航下拉效果***/
.navBody1,.navBody2{ height:27px; padding:0 3px 0 7px; cursor:pointer; float:left;}
.nav_list{ height:27px; text-align:center; color:#315aaa; line-height:27px; float:left;}
.nav_list_icon{ width:15px; height:27px; background:url(resumes.gif) -6px -193px no-repeat; float:left}
.nav_listmain{ width:85px; border:1px #999 solid; box-shadow: 1px 1px 1px 1px #a6a6a6; display:none; position:absolute; background-color:#FFF}
.nav_listmain_1{ width:100px; border:1px #999 solid; box-shadow: 1px 1px 1px 1px #a6a6a6; display:none; position:absolute; background-color:#FFF}
.nav_title{ height:27px; padding:0 8px 0 12px; background-color:#E8E8E8;}
.nav_a{ color:#555;}
.nav_list_icon1{ width:15px; height:27px; cursor:pointer; background:url(resumes.gif) -20px -193px no-repeat; float:left}
.nav_list_content{ height:27px; margin:0 5px; line-height:27px; padding:0 7px; text-align:left; color:#315aaa; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#E8E8E8;}