@charset "utf-8";
/* CSS Document */
/*
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    font-size: 12px;
    color: #333;
    font-family: "宋体";
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0099cc;
    text-decoration: underline
}

.box {
    width: 1020px;
    height: auto;
    margin: 0px auto;
}

.center {
    width: 1020px;
    margin-top: 5px;
    margin-left: 5px;
}

.center-right {
    width: 740px;
    height: auto;
    float: left;
    margin-left: 8px;
    margin-top: 5px;
}
*/

.right-meitan {
    height: auto;
    width: 736px;
    border: 1px solid #c8dcff;
}

.right-margin {
    margin-top: 10px;
}

.right-meitan-tit {
    height: 53px;
    background: url(../images/right-1.jpg) repeat-x;
    padding-left: 30px;
}

.right-meitan-tit li {
    float: left;
    line-height: 50px;
}

h2 {
    font-size: 15px;
    color: #444444;
    font-weight: bold
}

.center-right p {
    width: 700px;
    margin: 0 auto;
    background: #e6e7e1;
    height: 3px;
}

.clear {
    clear: both;
}

.right-tiezi {
    width: 700px;
    margin: 0 auto;
    height: auto
}

.right-tiezi table {
    margin-top: 10px;
    margin-bottom: 20px;
}

.right-tiezi td {
    height: 39px;
    border-bottom: 1px solid #e6e7e1;
}

.right-tiezi th {
    background: #eef4f9;
    height: 25px;
    border-bottom: 1px solid #d3e0ec;
    border-top: 1px solid #d3e0ec;
    text-align: left;
}

.colorhui {
    color: #999;
    height: 20px;
    line-height: 20px;
}

.colorbule {
    color: #0099cc
}

.colorju {
    color: #ff7900
}

/*新帖按钮*/
.menu {
    width: 90px;
    margin: 0;
    margin: 10px 0;
    margin-left: 130px;
    _margin-left: 130px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    float: left;
    position: relative;
}

.menu ul li a, .menu ul li a:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 90px;
    height: 30px;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    background: url(../images/right-3.png);
    line-height: 30px;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover a {
    background: url(../images/right-3.png);
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    top: 31px;
    left: 0;
    width: 105px;
}

.menu ul li:hover ul li a {
    display: block;
    background: #faeec7;
    color: #ff7900;
}

.menu ul li:hover ul li a:hover {
    background: #dfc184;
    color: #ff7900;
}

/*新帖按钮 END*/
/*内页添加代码*/
.right-top {
    width: 720px;
    background: url(../images/right-3.jpg) repeat-x;
    height: 38px;
    padding-left: 20px;
    font-weight: bold;
    line-height: 38px;
}

.tit-height {
    height: 100px;
}

.tit-height li {
    height: 30px;
}

.menu-left {
    margin-left: 0px;
}

.right-tiezi-neirong {
    width: 700px;
    border-top: 3px solid #e6e7e1;
    margin: 0 auto
}

.right-tiezi-neirong p {
    float: left
}

.minheight {
    border-bottom: 1px solid #d3e0ec;
    min-height: 240px;
    padding: 5px 0 0 10px;
    line-height: 20px;
}

.tiezi-huifu, .tiezi-mingcheng {
    height: 20px;
    padding: 5px 0px;
    border-bottom: 1px solid #d3e0ec;
}

.tiezi-huifu {
    float: right;
    border: 0px;
    padding-top: 10px;
}

.tiezi-dibu {
    float: left;
    height: 45px;
    background: #ebf2f8;
    width: 680px;
    padding: 0 0 0 10px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 45px;
}

.kuang {
    float: right;
    background: url(../images/right-8.jpg) no-repeat;
    width: 72px;
    height: 29px;
    margin-top: 10px;
    line-height: 30px;
    padding-left: 15px;
}

.tiezi-tijiao, .tiezi-bianxie {
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
}

.button-click {
    background: none;
    border: 1px solid #999;
    width: 70px;
    background-color: #f3f3ef;
    height: 27px;
    cursor: pointer;
    margin-bottom: 10px;
}

/*内页添加代码 END*/
/*发表新帖子*/
.tiezi-text {
    width: 350px;
    height: 20px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
    margin-right: 8px;
}

.right-paddingtop {
    padding-top: 10px;
}

.right-paddingtop15 {
    padding-top: 15px;
}

.noboder {
    border: none;
}

.boderdashed li {
    border-right: 1px dashed #CCCCCC;
    width: 180px;
    height: 80px;
    padding: 5px 10px 5px 10px;
    line-height: 25px;
    float: left
}

/*发表新帖子 END*/
.liheight li {
    height: 100px;
}