@charset "utf-8";
/* CSS Document */
.login{margin:0px auto; width:882px; margin-top:110px; position:relative;}
.login_con{position:absolute; width:325px; height:172px; top:190px; left:320px;}
.landing_con{margin-top:10px;padding-left:40px;float:left; width:280px;}
.landing_con li{float:left;line-height:16px; color:#666}
.login_text{height:16px; width:120px; border:0px;}
.login_botton1{background-image:url(../images/login_botton1.jpg); width:78px; height:27px;}
.login_botton2{background-image:url(../images/login_botton2.jpg); width:78px; height:27px;}
.login_botton3{background-image:url(../images/login_botton3.jpg); width:90px; height:27px;}